@charset "UTF-8";
*{ /* 기본적으로 적용되어있는 여백을 모두 제거 */ 
margin: 0;
padding: 0;
box-sizing: border-box;/*보더 박스 크기로 잡으면 편함*/
}
a{
text-decoration: none;
color: black;/* 16진수 컬러 #000000->#000가능반복일때만, rgb(0,0,0) */

}
li{
list-style:none;
}
h1{
position: absolute;
left: -999px;/* 단지 화면에서 보이지 않게만 처리하였음 */
}
input{
outline: none;
}
 /* 하단은 임의로 만든 클래스들 
 -------------------------------- */
.view-size{
width: 1024px;
margin: 0 auto;
/* border: 1px solid #f00; */} /* 웸사이즈 */
.flex{display: flex;} /* 가로정렬 */
.column{flex-direction: column;} /* 세로정렬 방법1 */
.center{justify-content: center;}
.between{justify-content: space-between;}